
/* Start of Social bar at bottom of page styling */

ul.social{
    overflow: auto;
	text-align: center;
}
 
ul.social li {
    list-style-type: none;
    display:inline-block;
	
}

 
ul.social li a i {
    background: #205D7A;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15%;
    transition: all 0.2s ease-in-out;
}

.fa-facebook {
    background:#3b5998
} 
.fa-linkedin {
    background:#007bb6
}
.fa-twitter {
    background:#00aced
}
.google-plus {
    background:#dd4b39
}
ul li a i:hover {
    opacity: .7;
}

/* End of Social bar at bottom of page styling */